@charset "UTF-8";

header {
    color: white;
    text-align: center;
        
}
    
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
    
#txtbuton:hover {
    cursor: pointer;
}
    
section > div > p {
    text-align: justify;
    font: normal 1rem arial;
}
    
footer {
    color: white;
    text-align: center;
    font-style: italic;
}   

@media screen and (max-width: 544px) {
    body {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
    }

    section {
        width: 90%; /* Reduz a largura do contêiner principal */
        max-width: 400px; /* Define uma largura máxima para garantir uma boa legibilidade */
    }

    section > div > p {
        font-size: 0.9rem; /* Reduz o tamanho da fonte para telas menores */
    }

    input[type="number"] {
        width: 80%; /* Reduz a largura da caixa de entrada */
    }

    input[type="button"] {
        margin-top: 7px;
    }
}
    body {
        background-color: rosybrown;
        font: normal 15pt arial;
    }
    